.header_outer_container{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(148, 132, 132);
    /* background-color: transparent; */
    height: 10vh;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
    /* background-color: red; */
}

.header_container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_left ul, .header_right ul {
    list-style: none;
    width: 140%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.netflix-img{
    width: 100px;
}